body {
  /* background-color: #B9D6F2; */
  background-color: #d1e4f6;
}

/* Main*/
.main_container {
  width: 80%;
  margin: 0 auto;
}
.main_title {
  color: black;
  text-align: center;
}
/* NavBar*/

.nav_bar_container {
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #0353a4;
}
.nav_item {
  color: white;
  text-decoration: none;
}

.header {
  margin-left: 1rem;
}

